@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --indigo: #2E236C;
  --blue: #356ABC;
  --cyan: #2DA7C7;
  --teal: #2ED6A1;
  --lime: #6BFF6B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-indigo: var(--indigo);
  --color-blue: var(--blue);
  --color-cyan: var(--cyan);
  --color-teal: var(--teal);
  --color-lime: var(--lime);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-primary: "Emilys Candy", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
  overflow-y: hidden;
}
